*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    color:#444;
}

.hero{
    height:100vh;
    background:url('../images/cover.jpg') center center/cover;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
}

.hero-content{
    position:relative;
    z-index:2;
    text-align:center;
    color:white;
}

.hero h1{
    font-family:'Imperial Script',cursive;
    font-size:90px;
}

.hero span{
    font-size:50px;
}

.date{
    margin-top:15px;
    font-size:22px;
}

#countdown{
    margin-top:30px;
    font-size:24px;
}

section{
    padding:80px 20px;
}

h2{
    text-align:center;
    margin-bottom:40px;
}

.timeline{
    max-width:900px;
    margin:auto;
}

.item{
    background:#fff6f7;
    padding:25px;
    margin-bottom:20px;
    border-radius:16px;
}

.gallery .grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.gallery img{
    width:100%;
    border-radius:15px;
}

.event .card{
    max-width:500px;
    margin:auto;
    background:#fff6f7;
    padding:30px;
    border-radius:20px;
    text-align:center;
}

.footer{
    background:#f9d6dd;
    text-align:center;
}

.heart{
    position:fixed;
    top:-50px;
    color:#ff5c8a;
    animation:fall linear forwards;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
    }
}
